@page "/gallery"
@using ClientApp.Service
@inject IFileService fileService
<h3>Mit galleri</h3>

<h3>Add image</h3>
<InputFile OnChange="@UploadFile" />
<p>@statusMessage</p>

@if (keys != null)
{
    @foreach (string key in keys)
    {
        <p>
            <scan>@key</scan><br/>
            <img src="@fileService.ConvertToUrl(key)" alt="Mit billede" width="100" height="100"/>
        </p>
    }
}
else
{
    <p>Waiting for fileserver....</p>
}
<h3>Add image</h3>
<InputFile OnChange="@UploadFile" />
<p>@statusMessage</p>


@code {
    
    private string statusMessage = "<no message - yet>";


    private List<string>? keys;
    

    protected override async Task OnInitializedAsync()
    {
        keys = await fileService.GetAllKeys();
    }

    private async Task UploadFile(InputFileChangeEventArgs e)
    {
        // compute a stream to the file chosen by the user
        var file = e.File;
        var stream = file.OpenReadStream(maxAllowedSize: 10_000_000); // fx 10 MB
        
        var res = await fileService.SendFile(file.Name, stream);
        
        statusMessage = res.success ? 
            $"Upload lykkedes til {res.info} !!!" : 
            $"Fejl: {res.info}";
        
        keys = await fileService.GetAllKeys();
    }
}